.render-window {
    position: relative;
    z-index: 1;
}

.overlay-message-list {
    position: absolute;
    margin: 20px;
    padding: 20px;
    float: right;
    width: 400px;
    height: 90%;
    background-color: rgba(20, 20, 20, 0.6);
    border: 1px solid rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    color: white;
    box-sizing: border-box;
    z-index: 999;
}

.overlay-message-list .text {
    margin: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    overflow: auto;
}

#messageBox {
    margin: 5px;
}