.render-window {
  position: relative;
  z-index: 1;
}

.overlay-message-list {
  position: absolute;
  margin: 20px;
  padding: 20px;
  float: right;
  width: 400px;
  height: 800px;
  background-color: rgb(20 20 20 / 60%);
  border: 1px solid rgb(50 50 50 / 30%);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 255 255 / 50%);
  color: white;
  box-sizing: border-box;
  z-index: 999;
}

.overlay-message-list .text {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 10px;
  overflow: auto;
}

#message-box {
  margin: 5px;
}
